# Terraform
*.tfstate
*.tfstate.*
*.tfstate.lock.info
.terraform/
*.tfvars
!*.tfvars.example
!vms.auto.tfvars
crash.log
*.tfplan
*.tfplan.*
terraform_*_linux_amd64.zip

# Terraform CLI (локальные настройки)
.terraformrc
.terraform.d/

# Ansible
*.retry
*.log
.vault_pass

# Secrets
*.pem
*.key
id_rsa*
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/